{% if error_message %}{% endif %}
<h1>
    {{ p }}
    <span><a href="{% url 'blog:author' a %}">{{ a }}</a></span>
</h1>
<p>{{ p.content }}</p>

<p>Add a comment here:</p>
<form action="{% url 'blog:add_comment' p.slug %}" method="post">
        {% csrf_token %}
        <input type="text" name="content">
        <input type="submit" value="comment">
</form>

{% if cs %}
<ul>
    {% for c in cs %}
    <li>
        {{ c.content }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<a href="{% url 'blog:index' %}">back to index</a>