{% extends 'generic/base.html' %}
{% block content %}
<div class="container pure-g">
    {% for p in ps %}
    <div class="pure-u-1-2">
        <h2><a href="{% url 'blog:detail' p.slug %}">{{ p.title }}</a></h2>
        <p>by <a href="{% url 'blog:author' p.author %}">{{ p.author }}</a> on {{ p.pub_date.date }}</p>
    </div>
    {% endfor %}
    <form class='pure-form pure-form-aligned pure-u-1 pure-g' action="{% url 'blog:index' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <div class="pure-control-group">
                <label for="blog-title">Title</label>
                <input id="blog-title" type="text" name="title" placeholder="title">
            </div>

            <div class="pure-control-group">
                <label for="blog-body">Content</label>
                <textarea id="blog-body" type="text" name="content" placeholder="content" rows="20" cols="50"></textarea>
            </div>

            <div class="pure-control-group">
                <label for="blog-submit"></label>
                <input id="blog-submit" class="pure-button pure-button-primary" type="submit" value="post">
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
