{% load staticfiles %}
<head>
    <title>blog index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/index.css' %}"/>
</head>
<body>
    <div class="container">
        <form action="{% url 'blog:index' %}" method="post">
            {% csrf_token %}
            <input type="text" name="title">
            <input type="text" name="content">
            <input type="submit" value="post">
        </form>

        {% for p in ps %}
        <div>
            <h2><a href="{% url 'blog:detail' p.slug %}">{{ p.title }}</a></h2>
            <p>{{ p.pub_date }}</p>
        </div>
        {% endfor %}
    </div>
</body>

